.conda/

*.onnx
*.onnx.data

__pycache__/
*.pyc
*.pyo

test_videos/*
!test_videos/.gitkeep

test_voices/*
!test_voices/.gitkeep
outputs/*
!outputs/.gitkeep

webapp/backend/venv/
webapp/backend/.env

test_images/*
*.mp4